body {
  background-color: rgb(0, 0, 0);
}
.header-section {
  height: 600px;
}
/* hr{
    color: #66FCF1 !important;
} */

.item {
  flex-grow: 1;
  height: 200px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.item:hover {
  flex-grow: 120;
}

.testing::after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(102,252,241);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.testing:hover:after {
  transform: scaleX(1);
}

.skill-container li{
  list-style: none;
  margin: 50px 0;
  position: relative;
}

.skill-container li::before{
  content: '';
  position: absolute;

  left: 0;
  background-color: black;
  width: 100%;
  height: 5px;
  top: calc(100% + 5px);
  border-radius: 500px;
}

.skill-container li::after{
  content: '';
  position: absolute;

  left: 0;
  background-color: #66FCF1;
  width: 0;
  height: 5px;
  top: calc(100% + 5px);
  border-radius: 500px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: forward;
}

.skill-container li.DURABILITY::after{
  animation-name: DURABILITY;
}

@keyframes DURABILITY {
  to{
    width: 90%;
  }
}

.skill-container li.BATTERYLIFE::after{
  animation-name: BATTERYLIFE;
}

@keyframes BATTERYLIFE {
  to{
    width: 80%;
  }
}

.skill-container li.DESIGN::after{
  animation-name: DESIGN;
}

@keyframes DESIGN {
  to{
    width: 60%;
  }
}

.skill-container li.CONVENIENCE::after{
  animation-name: CONVENIENCE;
}

@keyframes CONVENIENCE {
  to{
    width: 50%;
  }
}

.skill-container li.PRICE::after{
  animation-name: PRICE;
}

@keyframes PRICE {
  to{
    width: 90%;
  }
}

.skill-container li.ui-design::after{
  animation-name: ui-design;
}

@keyframes ui-design {
  to{
    width: 90%;
  }
}

.skill-container li.ux-design::after{
  animation-name: ux-design;
}

@keyframes ux-design {
  to{
    width: 80%;
  }
}

.skill-container li.digital-marketing::after{
  animation-name: digital-marketing;
}

@keyframes digital-marketing {
  to{
    width: 70%;
  }
}

.skill-container li.social-media::after{
  animation-name: social-media;
}

@keyframes social-media {
  to{
    width: 60%;
  }
}

progress {
	display:block;
	width:100%;
	height:10px;
	padding:5px 0 0 0;
	margin:0;
	background:none;
	border: 0;
	border-radius:50px;
	text-align: left;
	position:relative;
    font-family:"Helvetica Neue", arial, sans-serif;
    font-size:15px;
}
progress::-webkit-progress-bar {
	height:10px;
	width:100%;
	margin:0 auto;
	background-color:#dadada;
	border-radius:100px;
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:10px;
	margin:0px -10px 0 0;
    padding-left:50px; /* Rounded corners requires a padding */
	background:#22e2d5;
	border-radius:100px;
}
